{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Blog</title>
{% endblock title %}
{% block content %}
        <section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="{% static 'img/banner_bg.png' %}" alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Blog List</h1>
                    <p class="f_400 w_color f_size_16 l_height26">Why I say old chap that is spiffing off his nut arse
                        pear shaped plastered<br> Jeffrey bodge barney some dodgy.!!</p>
                </div>
            </div>
        </section>

        <section class="blog_area sec_pad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">

                        {% for post in posts %}
                        <div class="blog_list_item mb_50">
                            <img class="img-fluid" src="{{ post.thumbnail.url }}" alt="">
                            <div class="blog_content">
                                <div class="post_date">
                                    <h2>{{post.posted_at|date:'d'}}<span>{{post.posted_at|date:'F'}}</span></h2>
                                </div>
                                <div class="entry_post_info">
                                    By: <a href="#">{{post.user}}</a>
                                    <!--<a href="http://droitthemes.com/html/saasland/blog-list.html#">2 Comments</a> -->
                                    <a href="#">{{post.category}}</a>
                                </div>
                                <a href="/post/{{post.title}}">
                                    <h5 class="f_p f_size_20 f_500 t_color mb_20">{{post.title}}</h5>
                                </a>
                                <p class="f_400 mb_20">
                                {{ post.description |safe|truncatewords:"50"|linebreaks }}</p>
                                <a href="/post/{{post.title}}" class="learn_btn_two">Read More <i class="ti-arrow-right"></i></a>
                            </div>
                        </div>

                        {% endfor %}
                        
                        <!-- <ul class="list-unstyled page-numbers shop_page_number text-left mt_30">
                            <li><span aria-current="page" class="page-numbers current">1</span></li>
                            <li><a class="page-numbers" href="http://droitthemes.com/html/saasland/blog-list.html#">2</a></li>
                            <li><a class="next page-numbers" href="http://droitthemes.com/html/saasland/blog-list.html#"><i class="ti-arrow-right"></i></a></li>
                        </ul> -->
                        <div class="pagination">
                            <span class="step-links">
                                {% if posts.has_previous %}
                                    <a href="?page=1">&laquo; First</a>
                                    <a href="?page={{ posts.previous_page_number }}">Previous</a>
                                {% endif %}

                                <span class="current">
                                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                                </span>

                                {% if posts.has_next %}
                                    <a href="?page={{ posts.next_page_number }}">Next</a>
                                    <a href="?page={{ posts.paginator.num_pages }}">Last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-sidebar">
                            <div class="widget sidebar_widget widget_search">
                                <form action="{% url 'search' %}" class="search-form input-group" method='get'>
                                    <input type="search" class="form-control widget_input" name='keyword' placeholder="Search here..">
                                    <button type="submit"><i class="ti-search"></i></button>
                                </form>
                            </div>
                            <div class="widget sidebar_widget widget_recent_post mt_60">
                                <div class="widget_title">
                                    <h3 class="f_p f_size_20 t_color3">Recent posts</h3>
                                    <div class="border_bottom"></div>
                                </div>

                                {% for post in posts %}
                                <div class="media post_item">
                                     <a href="/post/{{post.title}}">
                                    <img src="{{post.thumbnail.url}}" class="img-responsive img-thumbnail"  height="75" width="200" alt=""></a>
                                    <div class="media-body">
                                        <a href="#">
                                            <h3 class="f_size_16 f_p f_400">{{post.title}}</h3>
                                        </a>
                                        <div class="entry_post_info">
                                            By: <a href="#">{{post.user}}</a>
                                            <a href="#">{{post.posted_at}}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                
                            </div>
                            <div class="widget sidebar_widget widget_categorie mt_60">
                                <div class="widget_title">
                                    <h3 class="f_p f_size_20 t_color3">Categories</h3>
                                    <div class="border_bottom"></div>
                                </div>
                                <ul class="list-unstyled">
                                    {% for category in categories %}
                                    <li> <a href="category/{{category.name}}/"><span>{{category.name}}</span><em></em></a> </li>
                                    {% endfor %}

                                </ul>
                            </div>
                            
                            <div class="widget sidebar_widget widget_tag_cloud mt_60">
                                <div class="widget_title">
                                    <h3 class="f_p f_size_20 t_color3">Tags</h3>
                                    <div class="border_bottom"></div>
                                </div>
                                <div class="post-tags">
                                    <a href="http://droitthemes.com/html/saasland/blog-list.html#">SaasLand</a>
                                    <a href="http://droitthemes.com/html/saasland/blog-list.html#">Web Design</a>
                                    <a href="http://droitthemes.com/html/saasland/blog-list.html#">Saas</a>
                                    <a href="http://droitthemes.com/html/saasland/blog-list.html#">Cooling System</a>
                                    <a href="http://droitthemes.com/html/saasland/blog-list.html#">Corporate</a>
                                    <a href="http://droitthemes.com/html/saasland/blog-list.html#">Software</a>
                                    <a href="http://droitthemes.com/html/saasland/blog-list.html#">Landing</a>
                                    <a href="http://droitthemes.com/html/saasland/blog-list.html#">Wheels</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
{% endblock content %}